asgiref==3.6.0
Babel==2.10.3
bcrypt==3.2.2
coreapi==2.3.3
coreschema==0.0.4
cryptography==38.0.4
Django==3.2.18
django-cors-headers==3.13.0
django-filter==22.1
django-guardian==2.4.0
djangorestframework==3.14.0
gunicorn==20.1.0
httplib2==0.20.4
psycopg2==2.9.5
python-dotenv==0.21.0
